nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav a {
    margin: 10px;
    text-decoration: none;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
    color: black;
    background-color: white;
}