<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Game Out</title>
</head>
<body>
    {% extends "base.html" %}

    {% block content %}
    <div id="output">
        <div>
            <h1>New Coup Entry:</h1>
            <h3>Game ID: {{row[0]}}</h3>
        </div>
        <div class="playerout" id="Winner">
            <span>Winner:</span>
            <span>{{ gameData.winnerName }}</span>
            <br>
            <span>Cards left:&nbsp;&nbsp;&nbsp;</span>
            <span>{{ gameData.cardsLeft }}</span>
        </div>
        <div class="playerout">
            <span>Second:</span>
            <span>{{ gameData.secondName }}</span>
        </div>
        <div class="playerout">
            <span>Third:</span>
            <span>{{ gameData.thirdName }}</span>
        </div>
        <div class="playerout">
            <span>Fourth:</span>
            <span>{{ gameData.fourthName }}</span>
        </div>
        <div class="playerout">
            <span>fifth:</span>
            <span>{{ gameData.fifthName }}</span>
        </div>
        <div class="playerout">
            <span>Sixth:</span>
            <span>{{ gameData.sixthName }}</span>
        </div>
    </div>
    <div>
        <a href="/showGames">View All Coup Records</a>
    </div>
    {% endblock %}
</body>
</html>