<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Coup Game</title>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</head>
<body>
    {% extends "base.html" %}

    {% block content %}
    <h1 id="title">Enter Scores for a Coup Game</h1>
    <div id="content">
        <form action = "{{ url_for('addCoup') }}" method = "POST">
            <div class="players">
                <label for="Player1">Winner</label>
                <input type="text" id="Player1" name="Player1" placeholder="Name">
            </div>
            <div class="players">
                <label for="cardsLeft">Cards Left</label>
                <input type="text" name="cardsLeft" id="cardsLeft" placeholder="Cards Left">
            </div>
            <div class="players">
                <label for="Player2">Runner Up</label>
                <input type="text" id="Player2" name="Player2" placeholder="Name">
            </div>
            <div class="players">
                <label for="Player3">Third Place</label>
                <input type="text" id="Player3" name="Player3" placeholder="Name">
            </div>
            <div class="players">
                <label for="Player4">Fourth Place</label>
                <input type="text" id="Player4" name="Player4" placeholder="Name">
            </div>
            <div class="players">
                <label for="Player5">Fifth Place</label>
                <input type="text" id="Player5" name="Player5" placeholder="Name">
            </div>
            <div class="players">
                <label for="Player6">Sixth Place</label>
                <input type="text" id="Player6" name="Player6" placeholder="Name">
            </div>
            <button id="CoupBTN" class="primary-button">Submit Record</button>
        </form>
    </div>
    {% endblock %}
</body>
</html>