<html>
  <head>
    <title>Game Records</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/GameRecordsStyles.css') }}">
    <script src="{{ url_for('static', filename='js/GameRecord.js') }}" defer></script>
  </head>
  <body>
    {% extends "base.html" %}
    {% import "bootstrap/wtf.html" as wtf %}
    {% block content %}
    <div id="select">
      <label for="gameSelect">Choose a game to see its records</label>
      <select name="gameSelect" id="gameSelect">
        <option value="allGames">Select a Game</option>
        <option value="allGames">Show All Records</option>
        <option value="Catan">Catan</option>
        <option value="Coup">Coup</option>
        <option value="Dominion">Dominion</option>
        <option value="LordsofWaterdeep">Lords of Waterdeep</option>
        <option value="LoveLetter">Love Letter</option>
        <option value="Munchkin">Munchkin</option>
        <option value="JustOne">Just One</option>
        <option value="TheMind">TheMind</option>
      </select>
    </div>

    {% if Catandata %}
    <div class="gameWrapper" id="Catan">
      <p>Catan Games</p>
        <div class="catGames Table" style="width: 950px;">
          <table>
            <tr>
              <th>Game Id</th>
              <th>Winner</th>
              <th>Score</th>
              <th>Second</th>
              <th>Score</th>
              <th>Third</th>
              <th>Score</th>
              <th>Fourth</th>
              <th>Score</th>
            </tr>
            {% for game in Catandata %}
            <tr>
              <td>{{ game.game_id }}</td>
              <td>{{ game.winnerName }}</td>
              <td>{{ game.winnerScore }}</td>
              <td>{{ game.secondName }}</td>
              <td>{{ game.secondScore }}</td>
              <td>{{ game.thirdName }}</td>
              <td>{{ game.thirdScore }}</td>
              <td>{{ game.fourthName }}</td>
              <td>{{ game.fourthScore }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
    </div>
    {% endif %}
    {% if Coupdata %}
    <div class="gameWrapper" id="Coup">
      <p>Coup Games</p>
        <div class="couGames Table" style="width: 950px;">
          <table>
            <tr>
              <th>Game Id</th>
              <th>Winner</th>
              <th>Lives</th>
              <th>Second</th>
              <th>Third</th>
              <th>Fourth</th>
              <th>Fifth</th>
              <th>Sixth</th>
            </tr>
            {% for game in Coupdata %}
            <tr>
              <td>{{ game.game_id }}</td>
              <td>{{ game.winnerName }}</td>
              <td>{{ game.cardsLeft }}</td>
              <td>{{ game.secondName }}</td>
              <td>{{ game.thirdName }}</td>
              <td>{{ game.fourthName }}</td>
              <td>{{ game.fifthName }}</td>
              <td>{{ game.sixthName }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
    </div>
    {% endif %}
    {% if Dominiondata %}
    <div class="gameWrapper" id="Dominion">
      <p>Dominion Games</p>
        <div class="domGames Table" style="width: 950px;">
          <table>
            <tr>
              <th>Game Id</th>
              <th>Winner</th>
              <th>Score</th>
              <th>Second</th>
              <th>Score</th>
              <th>Third</th>
              <th>Score</th>
              <th>Fourth</th>
              <th>Score</th>
            </tr>
            {% for game in Dominiondata %}
            <tr>
              <td>{{ game.game_id }}</td>
              <td>{{ game.winnerName }}</td>
              <td>{{ game.winnerScore }}</td>
              <td>{{ game.secondName }}</td>
              <td>{{ game.secondScore }}</td>
              <td>{{ game.thirdName }}</td>
              <td>{{ game.thirdScore }}</td>
              <td>{{ game.fourthName }}</td>
              <td>{{ game.fourthScore }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
    </div>
    {% endif %}
    {% if LordsofWaterdeepdata %}
    <div class="gameWrapper" id="LordsofWaterdeep">
      <p>Lords of Waterdeep Games</p>
        <div class="lorGames Table" style="width: 1020px;">
          <table>
            <tr>
              <th>Game Id</th>
              <th>Winner</th>
              <th>Score</th>
              <th>Second</th>
              <th>Score</th>
              <th>Third</th>
              <th>Score</th>
              <th>Fourth</th>
              <th>Score</th>
              <th>Fifth</th>
              <th>Score</th>
            </tr>
            {% for game in LordsofWaterdeepdata %}
            <tr>
              <td>{{ game.game_id }}</td>
              <td>{{ game.winnerName }}</td>
              <td>{{ game.winnerScore }}</td>
              <td>{{ game.secondName }}</td>
              <td>{{ game.secondScore }}</td>
              <td>{{ game.thirdName }}</td>
              <td>{{ game.thirdScore }}</td>
              <td>{{ game.fourthName }}</td>
              <td>{{ game.fourthScore }}</td>
              <td>{{ game.fifthName }}</td>
              <td>{{ game.fifthScore }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>      
    </div>
    {% endif %}
    {% if LoveLetterdata %}
    <div class="gameWrapper" id="LoveLetter">
      <p>Love Letter Games</p>
        <div class="lovGames Table" style="width: 650px;">
          <table>
            <tr>
              <th>Game Id</th>
              <th>Winner</th>
              <th>Second</th>
              <th>Third</th>
              <th>Fourth</th>
              <th>Fifth</th>
              <th>Sixth</th>
            </tr>
            {% for game in LoveLetterdata %}
            <tr>
              <td>{{ game.game_id }}</td>
              <td>{{ game.winnerName }}</td>
              <td>{{ game.secondName }}</td>
              <td>{{ game.thirdName }}</td>
              <td>{{ game.fourthName }}</td>
              <td>{{ game.fifthName }}</td>
              <td>{{ game.sixthName }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
    </div>
    {% endif %}
    {% if Munchkindata %}
    <div class="gameWrapper" id="Munchkin">
      <p>Munchkin Games</p>
        <div class="munGames Table" style="width: 1230px;">
          <table>
            <tr>
              <th>Game Id</th>
              <th>Winner</th>
              <th>Score</th>
              <th>Second</th>
              <th>Score</th>
              <th>Third</th>
              <th>Score</th>
              <th>Fourth</th>
              <th>Score</th>
              <th>Fifth</th>
              <th>Score</th>
              <th>Sixth</th>
              <th>Score</th>
            </tr>
            {% for game in Munchkindata %}
            <tr>
              <td>{{ game.game_id }}</td>
              <td>{{ game.winnerName }}</td>
              <td>{{ game.winnerScore }}</td>
              <td>{{ game.secondName }}</td>
              <td>{{ game.secondScore }}</td>
              <td>{{ game.thirdName }}</td>
              <td>{{ game.thirdScore }}</td>
              <td>{{ game.fourthName }}</td>
              <td>{{ game.fourthScore }}</td>
              <td>{{ game.fifthName }}</td>
              <td>{{ game.fifthScore }}</td>
              <td>{{ game.sixthName }}</td>
              <td>{{ game.sixthScore }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
    </div>
    {% endif %}
    {% if JustOnedata %}
    <div class="gameWrapper" id="JustOne">
      <p>Just One Games</p>
        <div class="jusGames Table" style="width: 900px;">
          <table>
            <tr>
              <th>Game Id</th>
              <th>Cards Completed</th>
              <th>Winner</th>
              <th>Second</th>
              <th>Third</th>
              <th>Fourth</th>
              <th>Fifth</th>
              <th>Sixth</th>
              <th>Seventh</th>
            </tr>
            {% for game in JustOnedata %}
            <tr>
              <td>{{ game.game_id }}</td>
              <td>{{ game.victory }}</td>
              <td>{{ game.playerone }}</td>
              <td>{{ game.playertwo }}</td>
              <td>{{ game.playerthree }}</td>
              <td>{{ game.playerfour }}</td>
              <td>{{ game.playerfive }}</td>
              <td>{{ game.playersix }}</td>
              <td>{{ game.playerseven }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
    </div>
    {% endif %}
    {% if TheMinddata %}
    <div class="gameWrapper" id="TheMind">
      <p>The Mind Games</p>
        <div class="minGames Table" style="width: 600px;">
          <table>
            <tr>
              <th>Game Id</th>
              <th>Outcome</th>
              <th>Player One</th>
              <th>Plyer Two</th>
              <th>Player Three</th>
              <th>Player Four</th>
            </tr>
            {% for game in TheMinddata %}
            <tr>
              <td>{{ game.game_id }}</td>
              <td>{{ game.victory }}</td>
              <td>{{ game.playerone }}</td>
              <td>{{ game.playertwo }}</td>
              <td>{{ game.playerthree }}</td>
              <td>{{ game.playerfour }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
    </div>
    {% endif %}
    {% endblock %}
  </body>
</html>