<html>
  <head>
    <title>Game Records</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/GameRecordsStyles.css') }}">
    <script src="{{ url_for('static', filename='js/GameRecord.js') }}" defer></script>
  </head>
  <body>
    {% extends "base.html" %}

    {% block content %}
    
    <div class="gameWrapper">
      <p>Dominion Games</p>
      {% for item in Dominiondata %}
        <div class="domGames table">
          <table>
            <tr>
              <th>Game Id</th>
              <th>Winner</th>
              <th>Score</th>
              <th>Second</th>
              <th>Score</th>
              <th>Third</th>
              <th>Score</th>
              <th>Fourth</th>
              <th>Score</th>
            </tr>
            <tr>
              <td>{{ item[0] }}</td>
              <td>{{ item[1] }}</td>
              <td>{{ item[2] }}</td>
              <td>{{ item[3] }}</td>
              <td>{{ item[4] }}</td>
              <td>{{ item[5] }}</td>
              <td>{{ item[6] }}</td>
              <td>{{ item[7] }}</td>
              <td>{{ item[8] }}</td>
            </tr>
          </table>
        </div>
      {% endfor %}
    </div>
    <div class="gameWrapper">
      <p>Catan Games</p>
      {% for item in Catandata %}
        <div class="catGames table">
          <table>
            <tr>
              <th>Game Id</th>
              <th>Winner</th>
              <th>Score</th>
              <th>Second</th>
              <th>Score</th>
              <th>Third</th>
              <th>Score</th>
              <th>Fourth</th>
              <th>Score</th>
            </tr>
            <tr>
              <td>{{ item[0] }}</td>
              <td>{{ item[1] }}</td>
              <td>{{ item[2] }}</td>
              <td>{{ item[3] }}</td>
              <td>{{ item[4] }}</td>
              <td>{{ item[5] }}</td>
              <td>{{ item[6] }}</td>
              <td>{{ item[7] }}</td>
              <td>{{ item[8] }}</td>
            </tr>
          </table>
        </div>
      {% endfor %}
    </div>
    <div class="gameWrapper">
      <p>Lords of Waterdeep Games</p>
      {% for item in LordsofWaterdeepdata %}
        <div class="lorGames table">
          <table>
            <tr>
              <th>Game Id</th>
              <th>Winner</th>
              <th>Score</th>
              <th>Second</th>
              <th>Score</th>
              <th>Third</th>
              <th>Score</th>
              <th>Fourth</th>
              <th>Score</th>
              <th>Fifth</th>
              <th>Score</th>
            </tr>
            <tr>
              <td>{{ item[0] }}</td>
              <td>{{ item[1] }}</td>
              <td>{{ item[2] }}</td>
              <td>{{ item[3] }}</td>
              <td>{{ item[4] }}</td>
              <td>{{ item[5] }}</td>
              <td>{{ item[6] }}</td>
              <td>{{ item[7] }}</td>
              <td>{{ item[8] }}</td>
              <td>{{ item[9] }}</td>
              <td>{{ item[10] }}</td>
            </tr>
          </table>
        </div>
      {% endfor %}
    </div>
    <div class="gameWrapper">
      <p>Coup Games</p>
      {% for item in Coupdata %}
        <div class="couGames table">
          <table>
            <tr>
              <th>Game Id</th>
              <th>Winner</th>
              <th>Lives</th>
              <th>Second</th>
              <th>Third</th>
              <th>Fourth</th>
              <th>Fifth</th>
              <th>Sixth</th>
            </tr>
            <tr>
              <td>{{ item[0] }}</td>
              <td>{{ item[1] }}</td>
              <td>{{ item[2] }}</td>
              <td>{{ item[3] }}</td>
              <td>{{ item[4] }}</td>
              <td>{{ item[5] }}</td>
              <td>{{ item[6] }}</td>
              <td>{{ item[7] }}</td>
            </tr>
          </table>
        </div>
      {% endfor %}
    </div>
    <div class="gameWrapper">
      <p>Love Letter Games</p>
      {% for item in LoveLetterdata %}
        <div class="lovGames table">
          <table>
            <tr>
              <th>Game Id</th>
              <th>Winner</th>
              <th>Second</th>
              <th>Third</th>
              <th>Fourth</th>
              <th>Fifth</th>
              <th>Sixth</th>
            </tr>
            <tr>
              <td>{{ item[0] }}</td>
              <td>{{ item[1] }}</td>
              <td>{{ item[2] }}</td>
              <td>{{ item[3] }}</td>
              <td>{{ item[4] }}</td>
              <td>{{ item[5] }}</td>
              <td>{{ item[6] }}</td>
            </tr>
          </table>
        </div>
      {% endfor %}
    </div>
    {% endblock %}
  </body>
</html>