body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#domGames{
    background-color: blanchedalmond;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.Hide{
    display: none;
}