<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/baseStyles.css') }}">
    <title>Game Tracker</title>
</head>
<body>
    {% extends "base.html" %}
    {% import "bootstrap/wtf.html" as wtf %}
    {% block content %}
        <div id="content">
            <div>
                <h2>{{ name }}, Welcome to my board game tracker</h2>
                <!-- <p>This is still under development as I work on it for fun</p>
                <span>Currently Supported Games</span>
                <ul>
                    <li>Dominion</li>
                    <li>Catan</li>
                    <li>Lords of Waterdeep</li>
                    <li>Coup</li>
                    <li>Love Letter</li>
                </ul> -->
                    
                <div id="mainLayout">
                    <div  class="section">
                        <h3>Your Recent Games</h3>
                        <table>
                            <thead>
                              <tr>
                                <th>Game Type</th>
                                <th>Winner</th>
                                <th>Second Place</th>
                                <th>Third Place</th>
                                <th>Game ID</th>
                                <th>Date</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for game in recentGames %}
                              <tr>
                                <td>{{ game.game_type }}</td>
                                <td>{{ game.winnerName }}</td>
                                <td>{{ game.secondName }}</td>
                                <td>{{ game.thirdName }}</td>
                                <td>{{ game.game_id }}</td>
                                <td>{{ game.current_date }}</td>
                              </tr>
                              {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="section">
                        <h3>Friends</h3>
                        <div>
                            {% for friend in friends %}
                            <div style="margin-top: 10px;">
                                <span>{{ friend.fullname }}</span>
                            </div>
                            {% endfor %}
                        </div>
                        <div style="margin-top: 10px;">
                            <a href="/friend" class="btn-info">Manage Friends</a>
                        </div>
                    </div>
                </div>


                
            </div>

        </div>

        

    {% endblock %}

</body>
</html>


