<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/baseStyles.css') }}">
    <title>Game Tracker</title>
</head>
<body>
    {% extends "base.html" %}
    {% import "bootstrap/wtf.html" as wtf %}
    {% block content %}
        <div id="content">
            <div>
                <h2>{{ user.fullname }}'s profile</h2>
                <div id="mainLayout">
                    <div  class="section">
                        <h3>{{ user.fullname }}'s Recent Games</h3>
                        <table>
                            <thead>
                              <tr>
                                <th>Game Type</th>
                                <th>Winner</th>
                                <th>Second Place</th>
                                <th>Third Place</th>
                                <th>Game ID</th>
                                <th>Date</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for game in recentGames %}
                              <tr>
                                <td>{{ game.game_type }}</td>
                                <td>{{ game.winnerName }}</td>
                                <td>{{ game.secondName }}</td>
                                <td>{{ game.thirdName }}</td>
                                <td>{{ game.game_id }}</td>
                                <td>{{ game.current_date }}</td>
                              </tr>
                              {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="section">
                        <h3>{{ user.fullname }}'s Friends</h3>
                        <div>
                            {% for friend in friends %}
                            <div style="margin-top: 10px;">
                                <a href="/profile?name={{ friend.username }}" class="friend">{{ friend.fullname }}</a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                    
                

            </div>

        </div>

    {% endblock %}

</body>
</html>