<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "base.html" %}
    {% import "bootstrap/wtf.html" as wtf %}
    {% block content %}
    <div>
        <h1>Register</h1>
        <form action="/register" method="post" novalidate>
            {{form.hidden_tag()}}
            {{wtf.form_field(form.username) }}
            {{wtf.form_field(form.email) }}
            {{wtf.form_field(form.password) }}
            {{wtf.form_field(form.fullname) }}
            <button type="submit">Register</button>
        </form>
    </div>

    {% endblock %}
</body>
</html>