body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#title{
    width: 500px;
}

.players{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.players input{
    width: 175px;
    height: 20px;
    border-radius: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2.5px;
    padding-left: 2.5px;
    border: solid black 1.5px;
    margin-bottom: 5px;
}

form{
    width: 432px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

form button{
    margin-top: 10px;
}

#output{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 540px;
}

#Winner{

    margin-right: 185px;
    margin-left: 185px;

}

#Winner div {
    width: 150px;
}

.playerout{
    width: 170px;
    margin: 5px;
    margin-bottom: 25px;
}

.playerout span {
    font-size: x-large;
    width: 150px;
}

#content {
    display: flex;
    justify-content: center;
}